          
        *{
            margin: 0%;
            padding: 0%;
        }
        html{
          scroll-behavior: smooth;
        }
        main{
          width: 100%;
        }
        /* <-------------------- Header --------------------> */

      .Head {
        /* width: 100%; */
        z-index: 1;
        height: 100px;
        background-color: rgb(49, 49, 49);
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        border-bottom: 1px solid white;
        box-shadow: 0px 5px 10px white;
        display: flex;
        flex: 1;
      }
      .Navbar {
       display: flex;
       justify-content: space-around;
       flex: 1;
      }
      .left-side,
      .right-side,.center-side {
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        width: 40%;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
      }
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: rgb(250, 79, 79);
      }

        /* <-------------------- section --------------------> */

      .House{
        position: relative;
        z-index: 0;
        height: 115ch;
        background-image: url(./imgs/main.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      }
      .join{
        background: rgba(33, 37, 41, 0.85);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        line-height: 90px;
        flex: 2;
      }
      .name{
        font-size: 72px;
        color:white;
      }
      .dlt{
        font-size: 50px;
        color: whitesmoke;
      }
      .bt1n{
        width: 180px;
        height: 60px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: #ff214f;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid transparent;
      }
      
      @media (max-width: 2560px) and (min-width:1440px){

        .House{
          max-width:100%;
        }


      }

      /* <-------------------- About --------------------> */

      .About{
        z-index: 3;
        height: 110ch;
        background: rgba(33, 37, 41, 0.85);
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 200px;
        width: 100%;
      }
      .about-img-div,.about-info-div{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: transparent;
        height:740px;
       }
       .about-img{
        height: 100%;
        width: 100%;
        object-position:inherit;
        cursor: pointer;
       }
      .about-name{
        font-size: 2.5rem;
        margin: 30px;
        color: white;
        margin-left: 0px;
      }
      p{
        color: white;
        margin: 20px;
        width: 600px;
        line-height: 30px;
        margin-left: 0px;
        font-size: 20px;
      }

      /* <-------------------- Gallary --------------------> */

      .Gallary{
        /* background-color: black; */
        height: 180ch;
        display: grid;
        grid-template-rows: 2fr 3fr;
        width: 100%;
      }
      .gallary-title{
        background: rgba(33, 37, 41, 0.85);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 55px;
        flex: 1;
        /* font-weight:100; */
      }
      .gallary-img{
        background: rgba(94, 106, 118, 0.85);
        padding-top: 40px;
        padding-left: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* column-gap: 40px;
        row-gap: 40px; */
      }
      
      .container{
        height:360px;
        width: 370px;
        overflow: hidden;
      }
      
      .gallary-img img{
        padding: 0;
        margin: 0;
        height: 360px;
        width: 370px;
        transition: 0.1s;
        cursor: pointer;
      }
      .gallary-img img:hover{
        /* border: 20px solid rgba(94, 106, 118, 0.85); */
        
      }
      .img-d{
        height: 360px;
        width: 370px;
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 300px;
        background: rgba(33, 37, 41, 0.85);
        flex: 1;
        
      }

      /* <-------------------- Book table --------------------> */

      .b-table{
          height: 85ch;
           background-image: url(./imgs/book-table-img.jpg);
           background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
      }
      .b-table-div{
        background: rgba(94, 106, 118, 0.65);
        height: 100%;
      }
      .b-table-name{
        font-size: 65px;
        color: aliceblue;
        height: 40%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .b-table-tool{
        height: 60%;
        width: 100%;
      }
      .b-table-tool-form{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
      }
      input {
        background-color: transparent;
        border: 2px solid black;
        color: white;
        padding: 20px;
        font-size: 22px;
        margin: 10px;
        outline: none;
      }
      ::placeholder{
        color: white;
      }

      /* <-------------------- Blog --------------------> */

      .blog{
        height: 200ch;
        background-color:aliceblue ;
        width: 100%;
      }
      .blog-title{
        background-color: rgba(33, 37, 41, 0.85);
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .blog-title h1{
        font-size: 80px;
      }
      .blog-btn-div{
        margin: 0px;
        width: 500px;
        height: 60px;
        margin-top: 40px;
      }
      .blog-btn,.blog--btn{
        width: 48%;
        height: 90%;
        font-size: 20px;
        color: #ff214f;
        border: 0px solid rgba(33, 37, 41, 0.85); 
        background: transparent;
        cursor: pointer;
      }
      .blog--btn{
        margin-left: 16px;
      }
      .blog-dtl{
        width: 100%;
        height: 70%;
        background-color: rgba(33, 37, 41, 0.85);
        display: grid;
        grid-template-columns: 1fr ;
      }
      .food-div,.juice-div{
        height: 85%;
        width: 97%;
        display: grid;
        grid-template-columns: 500px 500px 500px; 
        justify-content: space-around;
        cursor: pointer;
        
      }
      
      .foods-dtl{
        
        height: 98%;
        border: 1px solid rgba(33, 37, 41, 0.85);
        border-radius: 5px;
      }
      .food-img{
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: center;
      }
      .food-info{
        height: 55%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        color: white;
      }
      .food-pr-btn{
        cursor: pointer;
        color: white;
        border-radius: 6px;
        border: 0px solid #ff214f;
        height: 50px;
        width: 80px;
        background-color: #ff214f;
        /* margin: 0px; */
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .info{
        width: 85%;
        margin: 5px;
        padding-bottom: 10px;
      }

      /* <-------------------- Reviews --------------------> */

      .reviews{
        height: 110ch;
        display: grid;
        grid-template-rows: .6fr 1fr 2fr;
        background-color: rgba(33, 37, 41, 0.85);
      }
      .R-title{
        display: grid;
        place-content:center;
        font-size: 60px;
      }
      .R-sen{
        font-size: 40px;
        display: grid;
        justify-content: center;
        text-align: center;
      }
      .r-hd{
        margin-top: 30px;
      }
      .R-dtl{
        
        display: grid;
        justify-content: space-around;
        grid-template-columns: 400px 400px 400px;
      }
      .R-info{
        border-radius: 20px;
        background-color:rgb(64, 77, 87);
        border: 1px solid rgba(89, 103, 117, 0.85);
        height: 450px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 20px 20px 20px rgba(101, 109, 117, 85);
      }
      .B-img{
        border: 1px solid black;
        height:90px;
        width: 90px;
        object-fit: cover;
        object-position: center;
        border-radius: 60px;
      }
      .R-info p{
        text-align: center;
        color: white;
        width: 300px;
      }

      /* <-------------------- Contect --------------------> */

      .contect{
        padding: 100px;
        height: 60ch;
        background-color: rgba(33, 37, 41, 0.85);
        display: grid;
        grid-template-columns: 4fr 2fr;
        column-gap: 50px;
      }
      .contect div{
        height: 70%;
        border-top: 1px solid rgba(102, 108, 114, 0.85);
        border-bottom: 1px solid rgba(102, 108, 114, 0.85);
      }
      .c-text{
        color: black;
      }
      footer{
        border-top: 1px solid rgba(102, 108, 114, 0.85);
        height: 200px;
        text-align: center;
        background-color: rgba(33, 37, 41, 0.85);
      }